.portfolio-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6rem;
}
.Portfolio-header {
  text-align: center;
}
.outline-b,
.outline-c {
  border: 8px solid #4d90db;
  border-radius: 8px;
  width: 420px;
  height: 260px;
}
/* .outline-b {
  margin-right: 60px;
} */
/* .outline-c {
  margin-left: 40px;
} */
.Project {
  position: relative;
  display: flex;
  justify-content: space-between;

  height: 60vh;
}
.proj-details {
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.proj-details a {
  text-decoration: none;
  color: whitesmoke;
}
.proj-image {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 45%;
}
.portfolio-section img {
  width: 35%;
  z-index: 9999;
  position: absolute;
  border-radius: 8px;
}
.image-1 {
  right: 85px;
  top: 60px;
}
.image-2 {
  left: 30px;
  top: 65px;
}
.portfolio-button {
  margin: 0 auto;
  width: 25%;
}
