.About-container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.About-section {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  margin-top: 30px;

  height: 80vh;
}
.About-section img {
  width: 350px;
  z-index: 9999;
  position: absolute;
  border-radius: 8px;
  /* left: -30px; */
  top: 0px;
  /* border: 2px solid red; */
}

.About {
  width: 55%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.outline-a {
  border: 8px solid #4d90db;
  border-radius: 8px;
  width: 350px;
  height: 500px;
  margin-left: 40px;
}
.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.buttons a {
  cursor: pointer;
}

@media (max-width: 768px) {
  .About-section {
    display: block;
    /* align-items: center;
    gap: 2rem; */
  }

  .About-section img {
    width: 50%;
    height: 250px;
    top: 0;
  }

  .About {
    width: 90%;
  }

  .outline-a {
    width: 50%;
    height: 250px;
  }
}
.buttons {
  display: block;
}
/* @media (min-width: 1200px) {
  .About-section {
    gap: 5rem;
  }

  .About-section img {
    width: 400px;
  }

  .outline-a {
    width: 400px;
    height: 550px;
  }
} */
