.About-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.About-section {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  margin-top: 30px;
  height: 80%;
  animation: fadeIn 1s ease-in-out;
}
.About-section img {
  width: 350px;

  position: absolute;
  border-radius: 8px;

  bottom: 40px;
  animation: slideIn 1.5s ease-in-out;
}

.About {
  width: 55%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  animation: fadeIn 2s ease-in-out;
}

.outline-a {
  border: 8px solid #4d90db;
  border-radius: 8px;
  width: 350px;
  height: 500px;
  margin-left: 40px;
  animation: slideIn 2s ease-in-out;
}
.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.buttons a {
  text-decoration: none;
}
/* ========================Responsive styling begins=================== */
/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
  .About-section img {
    width: 250px;
    bottom: 30px;
    left: 15px;
  }
  .outline-a {
    width: 250px;
    height: 350px;
  }
}

/* md */
@media (max-width: 768px) {
  .About-section {
    display: flex;
    flex-direction: column;
  }
  .About {
    width: 90%;
  }
  .About-section img {
    width: 350px;
    position: static;
    border-radius: 50%;

    /* bottom: 30px;
    left: 15px; */
  }
  .outline-a {
    display: none;
  }
  /* .buttons {
    display: block;
  } */
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
  .buttons {
    flex-direction: column;
    gap: 2rem;
  }
}
