.contact-section {
  height: 100vh;
  border-radius: 150px 150px 0 0;
  background: linear-gradient(45deg, #4639bc, #4d90db);
}
.contact-section i {
  background: linear-gradient(135deg, #4d90db, #4639bc);
  color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
}
.Contact-container {
  width: 80%;
  margin: 0 auto;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Contact-header {
  text-align: center;
}
.Contact-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Contact-details h4 {
  color: #ffffff;
  font-size: 2rem;
}
.Contacts {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.Contact-details dir p {
  color: #ffffff;
}

.Contact-details dir {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.Contact-form {
  height: 50vh;
  width: 35%;
  background: linear-gradient(135deg, #4d90db, #4639bc);
  border-radius: 8px;
  padding: 2rem 1rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
input,
textarea {
  background-color: #101630;
  border: 1px solid #101630;
  color: #ffffff;
  border-radius: 4px;
  display: block;
  padding: 0.7rem;
}

#Submit {
  width: 40%;
  padding: 0.4rem;
  margin-top: 0.5rem;
}
hr {
  width: 80%;
  margin: 0 auto;
}
