.Experience-section {
  height: 100%;
  margin: 2rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.Experience-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 100px;
}
.Experience-header {
  text-align: center;
}
.Experience-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.Experience-icon img {
  width: 80px;
}
.Experience-icon p {
  text-align: center;
}

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
  .Experience-icons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 100px;
  }
  .Experience-icon img {
    width: 50px;
  }
}

/* md */
@media (max-width: 768px) {
  .Experience-icons {
    gap: 50px;
  }
  .Experience-icon img {
    width: 30px;
  }
  .Experience-icon p {
    font-size: 1rem;
  }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}
