.Experience-section {
  height: 100vh;
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.Experience-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 100px;
}
.Experience-header {
  text-align: center;
}
.Experience-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.Experience-icon img {
  width: 80px;
}
.Experience-icon p {
  text-align: center;
}
