.Services-section {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.service-header {
  text-align: center;
}
.Services {
  display: grid;
  grid-template-columns: auto auto;
  gap: 100px;
}
.service {
  position: relative; /* Ensures pseudo-element is positioned correctly */
  padding: 2rem;
  border-radius: 8px;
  border: 8px solid transparent;
  background: linear-gradient(#101630, #101630) padding-box,
    linear-gradient(to right, #4d90db, #4639bc) border-box;
  box-shadow: -5px -5px 60px #4d8fdb60, 10px 10px 60px #4639bc60;
}
.service dir {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.service i {
  font-size: 3rem;
  background-color: whitesmoke;
  border-radius: 30%;
  padding: 1rem;
}

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
  .Services {
    grid-template-columns: repeat(2, auto);
    gap: 50px;
  }
  .service dir h2,
  .service i {
    font-size: 1.5rem;
  }
}

/* md */
@media (max-width: 768px) {
  .Services {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 80%;
    margin: 0 auto;
    z-index: -1;
  }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
  .Services {
    width: 100%;
  }
}
