.container {
  max-width: 1536px;
  width: 100%;
  /* border: 2px solid red; */
  margin-left: auto;
  margin-right: auto;
}
.App {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6rem;
  animation: fadeIn 2s ease-in-out;
}

.button1 {
  border: 0;
  background-image: linear-gradient(to right, #4d90db, #4639bc);
}
.button2 {
  border: 3px solid transparent;
  /* border-image: linear-gradient(to right, #4d90db, #4639bc) 1; */
  background: linear-gradient(#101630, #101630) padding-box,
    linear-gradient(to right, #4d90db, #4639bc) border-box;
}
/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .App {
    width: 90%;
    /* border: 2px solid red; */
  }
  /* .container {
    max-width: 1024px;
  } */
}

/* lg */
@media (max-width: 1024px) {
  /* .container {
    max-width: 768px;
  } */
  .App {
    width: 90%;
    /* border: 2px solid red; */
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  .App {
    gap: 4rem;
  }
}
