@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  background-color: #101630;
  /* overflow-x: hidden; */
  /* background-color: #25060b; */
}
h2 {
  color: whitesmoke;
  font-size: 2.5rem;
}
h3 {
  font-size: 2.5rem;
  color: #4d90db;
}
p {
  font-size: 1.3rem;
  color: #95999d;
  font-family: "Inter", sans-serif;
}
button {
  padding: 1.5em 4em;
  font-size: 1.2rem;
  color: whitesmoke;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

button:hover {
  transform: scale(1.1);
}
/* ========================Animation styling begins=================== */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
/* ========================Responsive styling begins=================== */
/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  button {
    padding: 1.5em 4em;
    font-size: 1rem;
  }
}

/* lg */
@media (max-width: 1024px) {
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  button {
    padding: 1.5em 4em;
    font-size: 0.8rem;
  }
}

@media (max-width: 830px) {
  button {
    padding: 1em 3.5em;
    font-size: 0.8rem;
  }
}
/* md */
@media (max-width: 768px) {
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 2.3rem;
  }
  p {
    font-size: 1.3rem;
  }
  button {
    padding: 1.5em 4em;
    font-size: 1rem;
  }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
  #mobile-button,
  button {
    display: block;
    width: 100%;
  }
}
